<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{SERVER} Analysis Results</title>
	<style type="text/css">
		table {
			border-width: 1px;
			border-style: solid;
			border-color: silver;
		}
		th {
			border-width: 1px;
			border-style: solid;
			border-color: silver;
			background-color: lightgrey;
            padding: 10px;
		}
		td {
			border-width: 1px;
			border-style: solid;
			border-color: silver;
            padding: 2px;
		}
	</style>
</head>
<body>
<H1>{SERVER} at {DATE}</H1>
{BODY}
</body>
</html>
